<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DogChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/image/logo.png}">
    <link rel="stylesheet" th:href="@{/css/packed.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
</head>

<body>

<div class="ui labeled icon right vertical inverted demo menu sidebar">
    <a class="item" href="http://www.twhuang.me:9000/" target="_blank">
        <i class="home icon"></i>
        BreakBlog
    </a>
    <a class="item" href="https://github.com/tw-huang" target="_blank">
        <i class="github icon"></i>
        Github
    </a>

    <a class="item" th:href="@{/profile}">
        <i class="setting icon"></i>
        个人设置
    </a>

    <a class="item" href="http://catchat.helloflask.com/logout">
        <i class="power off icon"></i>
        退 出</a>

</div>

<div class="ui top fixed borderless menu">
    <a class="item dogchat" href="http://catchat.helloflask.com/">
        <img th:src="@{/image/logo.png}">
        <span>DogChat</span>
    </a>
    <div class="item" id="signUp-count">
        <div class="ui label black basic" title="Online users">
            <i class="user icon"></i><i id="onlineCount">0</i> / <i id="signUpCount">0</i>
        </div>
    </div>
    <a class="item" id="show-about-modal">About</a>
    <div class="right menu hide-on-mobile">

        <div class="item">
            <button class="ui button orange basic" id="show-snippet-modal">Create Snippets</button>
        </div>

        <a class="item" id="toggle-sidebar">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>

<!-- Snippet Modal -->
<div class="ui modal small snippet">
    <div class="header">Create code or text snippets</div>
    <div class="content">
        <div class="ui form">
            <textarea id="snippet-textarea" rows="20"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui button cancel">Cancel</button>
        <button class="ui button orange">Help</button>
        <button class="ui button blue approve" id="snippet-button">Create</button>
    </div>
</div>


<!-- About Modal -->
<div class="ui modal small about">
    <div class="header">About</div>
    <div class="content">
        <p>Hello，这是<a href="http://helloflask.com/book">《Flask Web开发实战》</a>第11章配套程序CatChat的在线Demo，请访问<a
                href="http://helloflask.com/book">helloflask.com/book</a>了解更多信息。请注意，网站数据不会永久保存，网站也可能随时会关闭。这个程序的源码可以在<a
                href="https://github.com/greyli/catchat">GitHub</a>上获取。</p>

        <p>如果你想让这个示例程序持续运行，可以考虑买一本<a href="http://helloflask.com/book">《Flask Web开发实战》</a>，或是通过<a
                href="http://greyli.com/support">其他方式</a>支持我。</p>

        <p>你可以在<a href="http://helloflask.com/">HelloFlask.com</a>看到更多Flask程序。</p>
        <hr>

        <p>This is the companion application's demo to my book "Python Web Development with Flask", see more
            information on <a href="http://helloflask.com/en/book"
                              target="_blank">http://helloflask.com/en/book</a>.</p>
    </div>
    <div class="actions">
        <button class="ui button cancel">Close</button>
    </div>
</div>

<!-- Mobile message Modal -->
<div id="mobile-new-message-modal" class="ui modal small">
    <div class="content">
        <div class="ui form">
            <textarea id="mobile-message-textarea" rows="15"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui button cancel">Cancel</button>
        <button class="ui button orange approve" id="send-button">Send</button>
    </div>
</div>


<div class="pusher">
    <div class="chat-box">
        <div class="messages">
            <div class="ui text loader">Loading messages...</div>
            <div id="message-container">
            </div>
        </div>
    </div>
    <div class="input-area">
        <div class="ui grid form">
            <div class="ten wide column" id="message-input">
            </div>
            <div class="four wide column right floated right aligned hide-on-mobile">
                <p>Written by <a href="http://greyli.com/">tw.huang</a><br>
                    2021 © <a href="http://www.twhuang.me:9000/">BreakBlog</a></p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/packed.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>

</body>
</html>