<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DogChat - 个人设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/image/logo.png}">
    <link rel="stylesheet" th:href="@{/css/packed.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached message">
            <div class="header ui image ">
                <img th:src="@{/image/logo.png}" class="image" alt="logo">
                <div class="content">
                    个人设置
                </div>
            </div>
        </div>
        <div class="register ui form attached left aligned fluid segment" method="post" action="/register">
            <div class="field">
                <label>昵 称</label>
                <input name="nickname" placeholder="昵 称" type="text" id="nickname">
            </div>
            <div class="field">
                <label>GitHub</label>
                <input name="github" placeholder="github" type="text" id="github">
            </div>
            <div class="field">
                <label>个人网站</label>
                <input name="website" placeholder="website" type="text" id="website">
            </div>
            <div class="field">
                <label>关于我</label>
                <input name="about" placeholder="about" type="text" id="about">
            </div>
            <div class="ui orange submit button fluid" onclick="DogChatProfile()">完成</div>
            <div class="ui error message"></div>
        </div>
        <div class="ui bottom attached warning message">
            取消设置<i class="icon help"></i><a href="/login">点击这里</a> 返回首页
        </div>
        
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</body>
</html>